* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #3399ff;

}

.bubbles {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.bubble {
  position: absolute;
  left: var(--bubble-left-offset);
  bottom: -75%;
  display: block;
  width: var(--bubble-radius);
  height: var(--bubble-radius);
  border-radius: 50%;
  animation: float-up var(--bubble-float-duration) var(--bubble-float-delay) ease-in infinite;
}

.bubble::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(136, 246, 251, 0.3);
  border-radius: inherit;
  animation: var(--bubble-sway-type) var(--bubble-sway-duration) var(--bubble-sway-delay) ease-in-out alternate infinite;
}

.bubble:nth-child(0) {
  --bubble-left-offset: 67vw;
  --bubble-radius: 2vw;
  --bubble-float-duration: 11s;
  --bubble-sway-duration: 6s;
  --bubble-float-delay: 1s;
  --bubble-sway-delay: 1s;
  --bubble-sway-type: sway-left-to-right;
}

.bubble:nth-child(1) {
  --bubble-left-offset: 20vw;
  --bubble-radius: 6vw;
  --bubble-float-duration: 10s;
  --bubble-sway-duration: 6s;
  --bubble-float-delay: 0s;
  --bubble-sway-delay: 4s;
  --bubble-sway-type: sway-left-to-right;
}

.bubble:nth-child(2) {
  --bubble-left-offset: 88vw;
  --bubble-radius: 9vw;
  --bubble-float-duration: 6s;
  --bubble-sway-duration: 6s;
  --bubble-float-delay: 4s;
  --bubble-sway-delay: 4s;
  --bubble-sway-type: sway-right-to-left;
}

.bubble:nth-child(3) {
  --bubble-left-offset: 86vw;
  --bubble-radius: 6vw;
  --bubble-float-duration: 8s;
  --bubble-sway-duration: 4s;
  --bubble-float-delay: 3s;
  --bubble-sway-delay: 4s;
  --bubble-sway-type: sway-right-to-left;
}

.bubble:nth-child(4) {
  --bubble-left-offset: 36vw;
  --bubble-radius: 1vw;
  --bubble-float-duration: 12s;
  --bubble-sway-duration: 4s;
  --bubble-float-delay: 4s;
  --bubble-sway-delay: 1s;
  --bubble-sway-type: sway-right-to-left;
}

.bubble:nth-child(5) {
  --bubble-left-offset: 79vw;
  --bubble-radius: 1vw;
  --bubble-float-duration: 11s;
  --bubble-sway-duration: 6s;
  --bubble-float-delay: 2s;
  --bubble-sway-delay: 2s;
  --bubble-sway-type: sway-left-to-right;
}

.bubble:nth-child(6) {
  --bubble-left-offset: 83vw;
  --bubble-radius: 5vw;
  --bubble-float-duration: 8s;
  --bubble-sway-duration: 4s;
  --bubble-float-delay: 1s;
  --bubble-sway-delay: 3s;
  --bubble-sway-type: sway-right-to-left;
}

.bubble:nth-child(7) {
  --bubble-left-offset: 72vw;
  --bubble-radius: 2vw;
  --bubble-float-duration: 9s;
  --bubble-sway-duration: 6s;
  --bubble-float-delay: 2s;
  --bubble-sway-delay: 0s;
  --bubble-sway-type: sway-right-to-left;
}

.bubble:nth-child(8) {
  --bubble-left-offset: 95vw;
  --bubble-radius: 10vw;
  --bubble-float-duration: 7s;
  --bubble-sway-duration: 4s;
  --bubble-float-delay: 2s;
  --bubble-sway-delay: 3s;
  --bubble-sway-type: sway-right-to-left;
}

.bubble:nth-child(9) {
  --bubble-left-offset: 87vw;
  --bubble-radius: 10vw;
  --bubble-float-duration: 8s;
  --bubble-sway-duration: 6s;
  --bubble-float-delay: 3s;
  --bubble-sway-delay: 4s;
  --bubble-sway-type: sway-right-to-left;
}

.bubble:nth-child(10) {
  --bubble-left-offset: 41vw;
  --bubble-radius: 10vw;
  --bubble-float-duration: 7s;
  --bubble-sway-duration: 4s;
  --bubble-float-delay: 2s;
  --bubble-sway-delay: 4s;
  --bubble-sway-type: sway-right-to-left;
}

.bubble:nth-child(11) {
  --bubble-left-offset: 7vw;
  --bubble-radius: 8vw;
  --bubble-float-duration: 10s;
  --bubble-sway-duration: 5s;
  --bubble-float-delay: 0s;
  --bubble-sway-delay: 3s;
  --bubble-sway-type: sway-right-to-left;
}

.bubble:nth-child(12) {
  --bubble-left-offset: 98vw;
  --bubble-radius: 3vw;
  --bubble-float-duration: 9s;
  --bubble-sway-duration: 6s;
  --bubble-float-delay: 4s;
  --bubble-sway-delay: 2s;
  --bubble-sway-type: sway-right-to-left;
}

.bubble:nth-child(13) {
  --bubble-left-offset: 18vw;
  --bubble-radius: 9vw;
  --bubble-float-duration: 9s;
  --bubble-sway-duration: 4s;
  --bubble-float-delay: 2s;
  --bubble-sway-delay: 4s;
  --bubble-sway-type: sway-left-to-right;
}

.bubble:nth-child(14) {
  --bubble-left-offset: 44vw;
  --bubble-radius: 4vw;
  --bubble-float-duration: 7s;
  --bubble-sway-duration: 6s;
  --bubble-float-delay: 3s;
  --bubble-sway-delay: 1s;
  --bubble-sway-type: sway-right-to-left;
}

.bubble:nth-child(15) {
  --bubble-left-offset: 66vw;
  --bubble-radius: 6vw;
  --bubble-float-duration: 6s;
  --bubble-sway-duration: 4s;
  --bubble-float-delay: 2s;
  --bubble-sway-delay: 2s;
  --bubble-sway-type: sway-left-to-right;
}

.bubble:nth-child(16) {
  --bubble-left-offset: 69vw;
  --bubble-radius: 5vw;
  --bubble-float-duration: 6s;
  --bubble-sway-duration: 6s;
  --bubble-float-delay: 4s;
  --bubble-sway-delay: 2s;
  --bubble-sway-type: sway-left-to-right;
}

.bubble:nth-child(17) {
  --bubble-left-offset: 76vw;
  --bubble-radius: 7vw;
  --bubble-float-duration: 12s;
  --bubble-sway-duration: 6s;
  --bubble-float-delay: 3s;
  --bubble-sway-delay: 1s;
  --bubble-sway-type: sway-left-to-right;
}

.bubble:nth-child(18) {
  --bubble-left-offset: 43vw;
  --bubble-radius: 6vw;
  --bubble-float-duration: 10s;
  --bubble-sway-duration: 5s;
  --bubble-float-delay: 2s;
  --bubble-sway-delay: 4s;
  --bubble-sway-type: sway-right-to-left;
}

.bubble:nth-child(19) {
  --bubble-left-offset: 59vw;
  --bubble-radius: 1vw;
  --bubble-float-duration: 11s;
  --bubble-sway-duration: 4s;
  --bubble-float-delay: 1s;
  --bubble-sway-delay: 0s;
  --bubble-sway-type: sway-right-to-left;
}

.bubble:nth-child(20) {
  --bubble-left-offset: 93vw;
  --bubble-radius: 6vw;
  --bubble-float-duration: 10s;
  --bubble-sway-duration: 6s;
  --bubble-float-delay: 3s;
  --bubble-sway-delay: 3s;
  --bubble-sway-type: sway-left-to-right;
}

.bubble:nth-child(21) {
  --bubble-left-offset: 28vw;
  --bubble-radius: 6vw;
  --bubble-float-duration: 9s;
  --bubble-sway-duration: 4s;
  --bubble-float-delay: 1s;
  --bubble-sway-delay: 3s;
  --bubble-sway-type: sway-left-to-right;
}

.bubble:nth-child(22) {
  --bubble-left-offset: 55vw;
  --bubble-radius: 5vw;
  --bubble-float-duration: 7s;
  --bubble-sway-duration: 5s;
  --bubble-float-delay: 0s;
  --bubble-sway-delay: 4s;
  --bubble-sway-type: sway-left-to-right;
}

.bubble:nth-child(23) {
  --bubble-left-offset: 87vw;
  --bubble-radius: 7vw;
  --bubble-float-duration: 9s;
  --bubble-sway-duration: 6s;
  --bubble-float-delay: 1s;
  --bubble-sway-delay: 0s;
  --bubble-sway-type: sway-right-to-left;
}

.bubble:nth-child(24) {
  --bubble-left-offset: 93vw;
  --bubble-radius: 8vw;
  --bubble-float-duration: 7s;
  --bubble-sway-duration: 4s;
  --bubble-float-delay: 3s;
  --bubble-sway-delay: 1s;
  --bubble-sway-type: sway-left-to-right;
}

.bubble:nth-child(25) {
  --bubble-left-offset: 41vw;
  --bubble-radius: 4vw;
  --bubble-float-duration: 11s;
  --bubble-sway-duration: 5s;
  --bubble-float-delay: 0s;
  --bubble-sway-delay: 1s;
  --bubble-sway-type: sway-right-to-left;
}

.bubble:nth-child(26) {
  --bubble-left-offset: 80vw;
  --bubble-radius: 2vw;
  --bubble-float-duration: 8s;
  --bubble-sway-duration: 6s;
  --bubble-float-delay: 2s;
  --bubble-sway-delay: 3s;
  --bubble-sway-type: sway-right-to-left;
}

.bubble:nth-child(27) {
  --bubble-left-offset: 24vw;
  --bubble-radius: 2vw;
  --bubble-float-duration: 12s;
  --bubble-sway-duration: 5s;
  --bubble-float-delay: 2s;
  --bubble-sway-delay: 4s;
  --bubble-sway-type: sway-right-to-left;
}

.bubble:nth-child(28) {
  --bubble-left-offset: 17vw;
  --bubble-radius: 3vw;
  --bubble-float-duration: 9s;
  --bubble-sway-duration: 5s;
  --bubble-float-delay: 2s;
  --bubble-sway-delay: 2s;
  --bubble-sway-type: sway-right-to-left;
}

.bubble:nth-child(29) {
  --bubble-left-offset: 10vw;
  --bubble-radius: 6vw;
  --bubble-float-duration: 7s;
  --bubble-sway-duration: 5s;
  --bubble-float-delay: 2s;
  --bubble-sway-delay: 3s;
  --bubble-sway-type: sway-right-to-left;
}

.bubble:nth-child(30) {
  --bubble-left-offset: 71vw;
  --bubble-radius: 5vw;
  --bubble-float-duration: 9s;
  --bubble-sway-duration: 4s;
  --bubble-float-delay: 3s;
  --bubble-sway-delay: 4s;
  --bubble-sway-type: sway-right-to-left;
}

.bubble:nth-child(31) {
  --bubble-left-offset: 55vw;
  --bubble-radius: 5vw;
  --bubble-float-duration: 6s;
  --bubble-sway-duration: 4s;
  --bubble-float-delay: 2s;
  --bubble-sway-delay: 3s;
  --bubble-sway-type: sway-left-to-right;
}

.bubble:nth-child(32) {
  --bubble-left-offset: 30vw;
  --bubble-radius: 9vw;
  --bubble-float-duration: 8s;
  --bubble-sway-duration: 5s;
  --bubble-float-delay: 1s;
  --bubble-sway-delay: 4s;
  --bubble-sway-type: sway-right-to-left;
}

.bubble:nth-child(33) {
  --bubble-left-offset: 17vw;
  --bubble-radius: 7vw;
  --bubble-float-duration: 6s;
  --bubble-sway-duration: 6s;
  --bubble-float-delay: 3s;
  --bubble-sway-delay: 1s;
  --bubble-sway-type: sway-right-to-left;
}

.bubble:nth-child(34) {
  --bubble-left-offset: 19vw;
  --bubble-radius: 4vw;
  --bubble-float-duration: 7s;
  --bubble-sway-duration: 4s;
  --bubble-float-delay: 1s;
  --bubble-sway-delay: 0s;
  --bubble-sway-type: sway-left-to-right;
}

.bubble:nth-child(35) {
  --bubble-left-offset: 76vw;
  --bubble-radius: 2vw;
  --bubble-float-duration: 8s;
  --bubble-sway-duration: 6s;
  --bubble-float-delay: 3s;
  --bubble-sway-delay: 1s;
  --bubble-sway-type: sway-left-to-right;
}

.bubble:nth-child(36) {
  --bubble-left-offset: 7vw;
  --bubble-radius: 6vw;
  --bubble-float-duration: 10s;
  --bubble-sway-duration: 5s;
  --bubble-float-delay: 0s;
  --bubble-sway-delay: 4s;
  --bubble-sway-type: sway-left-to-right;
}

.bubble:nth-child(37) {
  --bubble-left-offset: 38vw;
  --bubble-radius: 10vw;
  --bubble-float-duration: 12s;
  --bubble-sway-duration: 5s;
  --bubble-float-delay: 4s;
  --bubble-sway-delay: 2s;
  --bubble-sway-type: sway-right-to-left;
}

.bubble:nth-child(38) {
  --bubble-left-offset: 96vw;
  --bubble-radius: 1vw;
  --bubble-float-duration: 6s;
  --bubble-sway-duration: 4s;
  --bubble-float-delay: 1s;
  --bubble-sway-delay: 1s;
  --bubble-sway-type: sway-left-to-right;
}

.bubble:nth-child(39) {
  --bubble-left-offset: 63vw;
  --bubble-radius: 6vw;
  --bubble-float-duration: 10s;
  --bubble-sway-duration: 5s;
  --bubble-float-delay: 1s;
  --bubble-sway-delay: 4s;
  --bubble-sway-type: sway-left-to-right;
}

.bubble:nth-child(40) {
  --bubble-left-offset: 6vw;
  --bubble-radius: 5vw;
  --bubble-float-duration: 10s;
  --bubble-sway-duration: 4s;
  --bubble-float-delay: 1s;
  --bubble-sway-delay: 0s;
  --bubble-sway-type: sway-right-to-left;
}

.bubble:nth-child(41) {
  --bubble-left-offset: 2vw;
  --bubble-radius: 4vw;
  --bubble-float-duration: 12s;
  --bubble-sway-duration: 6s;
  --bubble-float-delay: 4s;
  --bubble-sway-delay: 4s;
  --bubble-sway-type: sway-left-to-right;
}

.bubble:nth-child(42) {
  --bubble-left-offset: 31vw;
  --bubble-radius: 4vw;
  --bubble-float-duration: 11s;
  --bubble-sway-duration: 4s;
  --bubble-float-delay: 2s;
  --bubble-sway-delay: 4s;
  --bubble-sway-type: sway-left-to-right;
}

.bubble:nth-child(43) {
  --bubble-left-offset: 36vw;
  --bubble-radius: 5vw;
  --bubble-float-duration: 8s;
  --bubble-sway-duration: 4s;
  --bubble-float-delay: 0s;
  --bubble-sway-delay: 0s;
  --bubble-sway-type: sway-right-to-left;
}

.bubble:nth-child(44) {
  --bubble-left-offset: 85vw;
  --bubble-radius: 7vw;
  --bubble-float-duration: 6s;
  --bubble-sway-duration: 6s;
  --bubble-float-delay: 2s;
  --bubble-sway-delay: 3s;
  --bubble-sway-type: sway-right-to-left;
}

.bubble:nth-child(45) {
  --bubble-left-offset: 51vw;
  --bubble-radius: 6vw;
  --bubble-float-duration: 12s;
  --bubble-sway-duration: 6s;
  --bubble-float-delay: 1s;
  --bubble-sway-delay: 1s;
  --bubble-sway-type: sway-right-to-left;
}

.bubble:nth-child(46) {
  --bubble-left-offset: 58vw;
  --bubble-radius: 2vw;
  --bubble-float-duration: 6s;
  --bubble-sway-duration: 6s;
  --bubble-float-delay: 0s;
  --bubble-sway-delay: 2s;
  --bubble-sway-type: sway-right-to-left;
}

.bubble:nth-child(47) {
  --bubble-left-offset: 29vw;
  --bubble-radius: 10vw;
  --bubble-float-duration: 6s;
  --bubble-sway-duration: 6s;
  --bubble-float-delay: 0s;
  --bubble-sway-delay: 0s;
  --bubble-sway-type: sway-right-to-left;
}

.bubble:nth-child(48) {
  --bubble-left-offset: 75vw;
  --bubble-radius: 3vw;
  --bubble-float-duration: 9s;
  --bubble-sway-duration: 4s;
  --bubble-float-delay: 3s;
  --bubble-sway-delay: 3s;
  --bubble-sway-type: sway-left-to-right;
}

.bubble:nth-child(49) {
  --bubble-left-offset: 41vw;
  --bubble-radius: 8vw;
  --bubble-float-duration: 6s;
  --bubble-sway-duration: 4s;
  --bubble-float-delay: 1s;
  --bubble-sway-delay: 0s;
  --bubble-sway-type: sway-right-to-left;
}

.bubble:nth-child(50) {
  --bubble-left-offset: 94vw;
  --bubble-radius: 6vw;
  --bubble-float-duration: 11s;
  --bubble-sway-duration: 4s;
  --bubble-float-delay: 0s;
  --bubble-sway-delay: 2s;
  --bubble-sway-type: sway-left-to-right;
}

@keyframes float-up {
  to {
    transform: translateY(-175vh);
  }
}

@keyframes sway-left-to-right {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(100%);
  }
}

@keyframes sway-right-to-left {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(-100%);
  }
}


.bubbles {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.bubble {
  position: absolute;
  left: var(--bubble-left-offset);
  bottom: -75%;
  display: block;
  width: var(--bubble-radius);
  height: var(--bubble-radius);
  border-radius: 50%;
  animation: float-up var(--bubble-float-duration) var(--bubble-float-delay) ease-in infinite;
}

.bubble::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(136, 246, 251, 0.3);
  border-radius: inherit;
  animation: var(--bubble-sway-type) var(--bubble-sway-duration) var(--bubble-sway-delay) ease-in-out alternate infinite;
}

.bubble:nth-child(0) {
  --bubble-left-offset: 67vw;
  --bubble-radius: 2vw;
  --bubble-float-duration: 11s;
  --bubble-sway-duration: 6s;
  --bubble-float-delay: 1s;
  --bubble-sway-delay: 1s;
  --bubble-sway-type: sway-left-to-right;
}

.bubble:nth-child(1) {
  --bubble-left-offset: 20vw;
  --bubble-radius: 6vw;
  --bubble-float-duration: 10s;
  --bubble-sway-duration: 6s;
  --bubble-float-delay: 0s;
  --bubble-sway-delay: 4s;
  --bubble-sway-type: sway-left-to-right;
}

.bubble:nth-child(2) {
  --bubble-left-offset: 88vw;
  --bubble-radius: 9vw;
  --bubble-float-duration: 6s;
  --bubble-sway-duration: 6s;
  --bubble-float-delay: 4s;
  --bubble-sway-delay: 4s;
  --bubble-sway-type: sway-right-to-left;
}

.bubble:nth-child(3) {
  --bubble-left-offset: 86vw;
  --bubble-radius: 6vw;
  --bubble-float-duration: 8s;
  --bubble-sway-duration: 4s;
  --bubble-float-delay: 3s;
  --bubble-sway-delay: 4s;
  --bubble-sway-type: sway-right-to-left;
}

.bubble:nth-child(4) {
  --bubble-left-offset: 36vw;
  --bubble-radius: 1vw;
  --bubble-float-duration: 12s;
  --bubble-sway-duration: 4s;
  --bubble-float-delay: 4s;
  --bubble-sway-delay: 1s;
  --bubble-sway-type: sway-right-to-left;
}

.bubble:nth-child(5) {
  --bubble-left-offset: 79vw;
  --bubble-radius: 1vw;
  --bubble-float-duration: 11s;
  --bubble-sway-duration: 6s;
  --bubble-float-delay: 2s;
  --bubble-sway-delay: 2s;
  --bubble-sway-type: sway-left-to-right;
}

.bubble:nth-child(6) {
  --bubble-left-offset: 83vw;
  --bubble-radius: 5vw;
  --bubble-float-duration: 8s;
  --bubble-sway-duration: 4s;
  --bubble-float-delay: 1s;
  --bubble-sway-delay: 3s;
  --bubble-sway-type: sway-right-to-left;
}

.bubble:nth-child(7) {
  --bubble-left-offset: 72vw;
  --bubble-radius: 2vw;
  --bubble-float-duration: 9s;
  --bubble-sway-duration: 6s;
  --bubble-float-delay: 2s;
  --bubble-sway-delay: 0s;
  --bubble-sway-type: sway-right-to-left;
}

.bubble:nth-child(8) {
  --bubble-left-offset: 95vw;
  --bubble-radius: 10vw;
  --bubble-float-duration: 7s;
  --bubble-sway-duration: 4s;
  --bubble-float-delay: 2s;
  --bubble-sway-delay: 3s;
  --bubble-sway-type: sway-right-to-left;
}

.bubble:nth-child(9) {
  --bubble-left-offset: 87vw;
  --bubble-radius: 10vw;
  --bubble-float-duration: 8s;
  --bubble-sway-duration: 6s;
  --bubble-float-delay: 3s;
  --bubble-sway-delay: 4s;
  --bubble-sway-type: sway-right-to-left;
}

.bubble:nth-child(10) {
  --bubble-left-offset: 41vw;
  --bubble-radius: 10vw;
  --bubble-float-duration: 7s;
  --bubble-sway-duration: 4s;
  --bubble-float-delay: 2s;
  --bubble-sway-delay: 4s;
  --bubble-sway-type: sway-right-to-left;
}

.bubble:nth-child(11) {
  --bubble-left-offset: 7vw;
  --bubble-radius: 8vw;
  --bubble-float-duration: 10s;
  --bubble-sway-duration: 5s;
  --bubble-float-delay: 0s;
  --bubble-sway-delay: 3s;
  --bubble-sway-type: sway-right-to-left;
}

.bubble:nth-child(12) {
  --bubble-left-offset: 98vw;
  --bubble-radius: 3vw;
  --bubble-float-duration: 9s;
  --bubble-sway-duration: 6s;
  --bubble-float-delay: 4s;
  --bubble-sway-delay: 2s;
  --bubble-sway-type: sway-right-to-left;
}

.bubble:nth-child(13) {
  --bubble-left-offset: 18vw;
  --bubble-radius: 9vw;
  --bubble-float-duration: 9s;
  --bubble-sway-duration: 4s;
  --bubble-float-delay: 2s;
  --bubble-sway-delay: 4s;
  --bubble-sway-type: sway-left-to-right;
}

.bubble:nth-child(14) {
  --bubble-left-offset: 44vw;
  --bubble-radius: 4vw;
  --bubble-float-duration: 7s;
  --bubble-sway-duration: 6s;
  --bubble-float-delay: 3s;
  --bubble-sway-delay: 1s;
  --bubble-sway-type: sway-right-to-left;
}

.bubble:nth-child(15) {
  --bubble-left-offset: 66vw;
  --bubble-radius: 6vw;
  --bubble-float-duration: 6s;
  --bubble-sway-duration: 4s;
  --bubble-float-delay: 2s;
  --bubble-sway-delay: 2s;
  --bubble-sway-type: sway-left-to-right;
}

.bubble:nth-child(16) {
  --bubble-left-offset: 69vw;
  --bubble-radius: 5vw;
  --bubble-float-duration: 6s;
  --bubble-sway-duration: 6s;
  --bubble-float-delay: 4s;
  --bubble-sway-delay: 2s;
  --bubble-sway-type: sway-left-to-right;
}

.bubble:nth-child(17) {
  --bubble-left-offset: 76vw;
  --bubble-radius: 7vw;
  --bubble-float-duration: 12s;
  --bubble-sway-duration: 6s;
  --bubble-float-delay: 3s;
  --bubble-sway-delay: 1s;
  --bubble-sway-type: sway-left-to-right;
}

.bubble:nth-child(18) {
  --bubble-left-offset: 43vw;
  --bubble-radius: 6vw;
  --bubble-float-duration: 10s;
  --bubble-sway-duration: 5s;
  --bubble-float-delay: 2s;
  --bubble-sway-delay: 4s;
  --bubble-sway-type: sway-right-to-left;
}

.bubble:nth-child(19) {
  --bubble-left-offset: 59vw;
  --bubble-radius: 1vw;
  --bubble-float-duration: 11s;
  --bubble-sway-duration: 4s;
  --bubble-float-delay: 1s;
  --bubble-sway-delay: 0s;
  --bubble-sway-type: sway-right-to-left;
}

.bubble:nth-child(20) {
  --bubble-left-offset: 93vw;
  --bubble-radius: 6vw;
  --bubble-float-duration: 10s;
  --bubble-sway-duration: 6s;
  --bubble-float-delay: 3s;
  --bubble-sway-delay: 3s;
  --bubble-sway-type: sway-left-to-right;
}

.bubble:nth-child(21) {
  --bubble-left-offset: 28vw;
  --bubble-radius: 6vw;
  --bubble-float-duration: 9s;
  --bubble-sway-duration: 4s;
  --bubble-float-delay: 1s;
  --bubble-sway-delay: 3s;
  --bubble-sway-type: sway-left-to-right;
}

.bubble:nth-child(22) {
  --bubble-left-offset: 55vw;
  --bubble-radius: 5vw;
  --bubble-float-duration: 7s;
  --bubble-sway-duration: 5s;
  --bubble-float-delay: 0s;
  --bubble-sway-delay: 4s;
  --bubble-sway-type: sway-left-to-right;
}

.bubble:nth-child(23) {
  --bubble-left-offset: 87vw;
  --bubble-radius: 7vw;
  --bubble-float-duration: 9s;
  --bubble-sway-duration: 6s;
  --bubble-float-delay: 1s;
  --bubble-sway-delay: 0s;
  --bubble-sway-type: sway-right-to-left;
}

.bubble:nth-child(24) {
  --bubble-left-offset: 93vw;
  --bubble-radius: 8vw;
  --bubble-float-duration: 7s;
  --bubble-sway-duration: 4s;
  --bubble-float-delay: 3s;
  --bubble-sway-delay: 1s;
  --bubble-sway-type: sway-left-to-right;
}

.bubble:nth-child(25) {
  --bubble-left-offset: 41vw;
  --bubble-radius: 4vw;
  --bubble-float-duration: 11s;
  --bubble-sway-duration: 5s;
  --bubble-float-delay: 0s;
  --bubble-sway-delay: 1s;
  --bubble-sway-type: sway-right-to-left;
}

.bubble:nth-child(26) {
  --bubble-left-offset: 80vw;
  --bubble-radius: 2vw;
  --bubble-float-duration: 8s;
  --bubble-sway-duration: 6s;
  --bubble-float-delay: 2s;
  --bubble-sway-delay: 3s;
  --bubble-sway-type: sway-right-to-left;
}

.bubble:nth-child(27) {
  --bubble-left-offset: 24vw;
  --bubble-radius: 2vw;
  --bubble-float-duration: 12s;
  --bubble-sway-duration: 5s;
  --bubble-float-delay: 2s;
  --bubble-sway-delay: 4s;
  --bubble-sway-type: sway-right-to-left;
}

.bubble:nth-child(28) {
  --bubble-left-offset: 17vw;
  --bubble-radius: 3vw;
  --bubble-float-duration: 9s;
  --bubble-sway-duration: 5s;
  --bubble-float-delay: 2s;
  --bubble-sway-delay: 2s;
  --bubble-sway-type: sway-right-to-left;
}

.bubble:nth-child(29) {
  --bubble-left-offset: 10vw;
  --bubble-radius: 6vw;
  --bubble-float-duration: 7s;
  --bubble-sway-duration: 5s;
  --bubble-float-delay: 2s;
  --bubble-sway-delay: 3s;
  --bubble-sway-type: sway-right-to-left;
}

.bubble:nth-child(30) {
  --bubble-left-offset: 71vw;
  --bubble-radius: 5vw;
  --bubble-float-duration: 9s;
  --bubble-sway-duration: 4s;
  --bubble-float-delay: 3s;
  --bubble-sway-delay: 4s;
  --bubble-sway-type: sway-right-to-left;
}

.bubble:nth-child(31) {
  --bubble-left-offset: 55vw;
  --bubble-radius: 5vw;
  --bubble-float-duration: 6s;
  --bubble-sway-duration: 4s;
  --bubble-float-delay: 2s;
  --bubble-sway-delay: 3s;
  --bubble-sway-type: sway-left-to-right;
}

.bubble:nth-child(32) {
  --bubble-left-offset: 30vw;
  --bubble-radius: 9vw;
  --bubble-float-duration: 8s;
  --bubble-sway-duration: 5s;
  --bubble-float-delay: 1s;
  --bubble-sway-delay: 4s;
  --bubble-sway-type: sway-right-to-left;
}

.bubble:nth-child(33) {
  --bubble-left-offset: 17vw;
  --bubble-radius: 7vw;
  --bubble-float-duration: 6s;
  --bubble-sway-duration: 6s;
  --bubble-float-delay: 3s;
  --bubble-sway-delay: 1s;
  --bubble-sway-type: sway-right-to-left;
}

.bubble:nth-child(34) {
  --bubble-left-offset: 19vw;
  --bubble-radius: 4vw;
  --bubble-float-duration: 7s;
  --bubble-sway-duration: 4s;
  --bubble-float-delay: 1s;
  --bubble-sway-delay: 0s;
  --bubble-sway-type: sway-left-to-right;
}

.bubble:nth-child(35) {
  --bubble-left-offset: 76vw;
  --bubble-radius: 2vw;
  --bubble-float-duration: 8s;
  --bubble-sway-duration: 6s;
  --bubble-float-delay: 3s;
  --bubble-sway-delay: 1s;
  --bubble-sway-type: sway-left-to-right;
}

.bubble:nth-child(36) {
  --bubble-left-offset: 7vw;
  --bubble-radius: 6vw;
  --bubble-float-duration: 10s;
  --bubble-sway-duration: 5s;
  --bubble-float-delay: 0s;
  --bubble-sway-delay: 4s;
  --bubble-sway-type: sway-left-to-right;
}

.bubble:nth-child(37) {
  --bubble-left-offset: 38vw;
  --bubble-radius: 10vw;
  --bubble-float-duration: 12s;
  --bubble-sway-duration: 5s;
  --bubble-float-delay: 4s;
  --bubble-sway-delay: 2s;
  --bubble-sway-type: sway-right-to-left;
}

.bubble:nth-child(38) {
  --bubble-left-offset: 96vw;
  --bubble-radius: 1vw;
  --bubble-float-duration: 6s;
  --bubble-sway-duration: 4s;
  --bubble-float-delay: 1s;
  --bubble-sway-delay: 1s;
  --bubble-sway-type: sway-left-to-right;
}

.bubble:nth-child(39) {
  --bubble-left-offset: 63vw;
  --bubble-radius: 6vw;
  --bubble-float-duration: 10s;
  --bubble-sway-duration: 5s;
  --bubble-float-delay: 1s;
  --bubble-sway-delay: 4s;
  --bubble-sway-type: sway-left-to-right;
}

.bubble:nth-child(40) {
  --bubble-left-offset: 6vw;
  --bubble-radius: 5vw;
  --bubble-float-duration: 10s;
  --bubble-sway-duration: 4s;
  --bubble-float-delay: 1s;
  --bubble-sway-delay: 0s;
  --bubble-sway-type: sway-right-to-left;
}

.bubble:nth-child(41) {
  --bubble-left-offset: 2vw;
  --bubble-radius: 4vw;
  --bubble-float-duration: 12s;
  --bubble-sway-duration: 6s;
  --bubble-float-delay: 4s;
  --bubble-sway-delay: 4s;
  --bubble-sway-type: sway-left-to-right;
}

.bubble:nth-child(42) {
  --bubble-left-offset: 31vw;
  --bubble-radius: 4vw;
  --bubble-float-duration: 11s;
  --bubble-sway-duration: 4s;
  --bubble-float-delay: 2s;
  --bubble-sway-delay: 4s;
  --bubble-sway-type: sway-left-to-right;
}

.bubble:nth-child(43) {
  --bubble-left-offset: 36vw;
  --bubble-radius: 5vw;
  --bubble-float-duration: 8s;
  --bubble-sway-duration: 4s;
  --bubble-float-delay: 0s;
  --bubble-sway-delay: 0s;
  --bubble-sway-type: sway-right-to-left;
}

.bubble:nth-child(44) {
  --bubble-left-offset: 85vw;
  --bubble-radius: 7vw;
  --bubble-float-duration: 6s;
  --bubble-sway-duration: 6s;
  --bubble-float-delay: 2s;
  --bubble-sway-delay: 3s;
  --bubble-sway-type: sway-right-to-left;
}

.bubble:nth-child(45) {
  --bubble-left-offset: 51vw;
  --bubble-radius: 6vw;
  --bubble-float-duration: 12s;
  --bubble-sway-duration: 6s;
  --bubble-float-delay: 1s;
  --bubble-sway-delay: 1s;
  --bubble-sway-type: sway-right-to-left;
}

.bubble:nth-child(46) {
  --bubble-left-offset: 58vw;
  --bubble-radius: 2vw;
  --bubble-float-duration: 6s;
  --bubble-sway-duration: 6s;
  --bubble-float-delay: 0s;
  --bubble-sway-delay: 2s;
  --bubble-sway-type: sway-right-to-left;
}

.bubble:nth-child(47) {
  --bubble-left-offset: 29vw;
  --bubble-radius: 10vw;
  --bubble-float-duration: 6s;
  --bubble-sway-duration: 6s;
  --bubble-float-delay: 0s;
  --bubble-sway-delay: 0s;
  --bubble-sway-type: sway-right-to-left;
}

.bubble:nth-child(48) {
  --bubble-left-offset: 75vw;
  --bubble-radius: 3vw;
  --bubble-float-duration: 9s;
  --bubble-sway-duration: 4s;
  --bubble-float-delay: 3s;
  --bubble-sway-delay: 3s;
  --bubble-sway-type: sway-left-to-right;
}

.bubble:nth-child(49) {
  --bubble-left-offset: 41vw;
  --bubble-radius: 8vw;
  --bubble-float-duration: 6s;
  --bubble-sway-duration: 4s;
  --bubble-float-delay: 1s;
  --bubble-sway-delay: 0s;
  --bubble-sway-type: sway-right-to-left;
}

.bubble:nth-child(50) {
  --bubble-left-offset: 94vw;
  --bubble-radius: 6vw;
  --bubble-float-duration: 11s;
  --bubble-sway-duration: 4s;
  --bubble-float-delay: 0s;
  --bubble-sway-delay: 2s;
  --bubble-sway-type: sway-left-to-right;
}

@keyframes float-up {
  to {
    transform: translateY(-175vh);
  }
}

@keyframes sway-left-to-right {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(100%);
  }
}

@keyframes sway-right-to-left {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(-100%);
  }
}




.heador {
  padding: 7px;
  background-color: rgb(83, 146, 197);
  color: white;
  border: 2px solid rgb(246, 249, 250);
  border-radius: 5px;
  width: 400px;
  margin: 2vh auto 1vh auto;
  text-align: center;
  height: 5vh;
  overflow: hidden;
  font-size: 2vh;

}

.radios {
  height: auto;

  margin: 15px auto 5px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#game-board {


  background-color: skyblue;
  width: 400px;
  height: 400px;
  margin: 20px auto 20px auto;
  display: grid;
  grid-template-rows: repeat(30, 1fr);
  grid-template-columns: repeat(30, 1fr);
  border: 30px solid steelblue;
  border-radius: 5px;
}

@media(max-width:500px) {
  #game-board {
    width: 80vw;
    height: 80vw;
  }

  .heador {
    width: 80vw;
    text-overflow: hide;
  }

}

@media(max-height:500px) {
  #game-board {
    width: 50vh;
    height: 50vh;
    border: 5vh solid steelblue;
  }

}

#food {

  background-color: white;
  grid-row: 10;
  grid-column: 18;
  border: 2px solid steelblue;

}

#head {
  background-color: rgb(82, 82, 68);
  grid-row: 10;
  grid-column: 10;



}

button {
  height: 40px;
  width: 60px;
  display: block;
  font-size: large;
  background-color: rgb(7, 131, 233);
  color: white;
  border: 2px solid rgb(246, 249, 250);
  margin: 10px auto;
  cursor: pointer;
  border-radius: 5px;


}

.scores {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  align-content: center;
}

.SNAKE {
  background-color: rgb(82, 82, 68);
}

label {
  padding: 5px;
  font-size: larger;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: azure;

}

#speed_name {
  color: white;
  font-weight: bolder;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

  padding: 2px;
  margin: auto 0 auto 0;

}

#level_name {
  color: white;
  font-weight: bolder;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

  padding: 2px;

}

span {
  padding: 1px;

}


input:hover {
  cursor: pointer;
}

.barrier {
  background-color: steelblue;
}

.arrows {
  position: absolute;
  bottom: 10vh;
  left: 0;
  display: grid;
  width: 100vw;
  height: 30vh;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);


}

.arrow {

  font-size: 3rem;

  text-align: center;
  color: rgb(19, 98, 122);
  width: 100%;
  height: 100%;
  margin: 0.1rem;

}

.ARROW {
  background-color: steelblue;
  opacity: 0.3;
  width: 100%;
  height: 100%;
  ;
  font-size: 2rem;
}

.up {
  grid-row: 1;
  grid-column: 2;
}

.right {
  grid-row: 2;
  grid-column: 3;
}

.down {
  grid-row: 3;
  grid-column: 2;
}

.left {
  grid-row: 2;
  grid-column: 1;
}

@media (min-width :481px) and (max-width:1100px) {
  .arrows {
    bottom: 10vh;
    left: 25vw;
    width: 50vw;


  }

}

@media (min-width :1101px) {
  .arrows {
    display: none;

  }

}